body{
  font-family: "Lato", sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 0;
  }
.hero{
  background-image: url(../media/restaurant-hero-image.jpg);
  height: 500px;
}
nav{
  background-color: rgba(22, 24, 24, .5);
  padding: 1px;
}
h2{
  font-weight: 300;
  font-size: 30px;
  margin: 5px 20px;
  color: white;
}
h1{
  color: white;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  position: absolute;
  margin-top: 200px;
  margin-left: 37%;
}
h3{
  font-size: 25px;
  margin-left: 15px;
}
h4{
  color: white;
  font-weight: 300;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}
h5{
  margin-bottom: 0px;
  font-weight: 900;
}
footer{
  background-color: black;
}
label{
  font-size: 12px;
  font-style: italic;
}
.order{
  height:60px;
  width: 700px;
  background-color: rgb(44, 126, 82);
  color: white;
  font-size: 25px;
  position: relative;
  margin-top: 350px;
  border: none;
  padding: 5px;
  margin-left: 25%;
}
.row{
  display: flex;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
.smaller{
  margin-left: 250px;
  margin-right: 250px;
}
.col{
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}
.inline{
  display: inline;
}
.run-in{
  display: run-in;
}
.fa-sun-o{
  color: white;
}
.orderpage{
  background: linear-gradient(to bottom, #eab92d 0%,#ce8612 100%);
}
.items{
  background-color: white;
  overflow: auto;
  height: 200px;
  width: 425px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.itemslist{
  color: black;
  clear: both;
  height: 40px;
  padding: 5px;
}
.left, h5{
  float: left;
  clear: both;
}
.left{
  display: inline;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.right{
 float: right;
 display: inline;
 font-size: 20px;
 margin-top: 5px;
 margin-bottom: 5px;
}
.colL{
  flex: 0 0 60%;
}
.colR{
  flex: 0 0 40%;
  height: 510px;
  background-color: white;
}
.add{
  margin-left: 20px;
  text-align: center;
  width: 150px;
  height: 40px;
  border: none;
  background-color: rgb(44, 119, 231);
  box-shadow: 1px 1px 1px black;
  font-size: 15px;
  color: white;
  font-weight: 500;
}
.deliver{
  margin-top: 20px;
  width: 440px;
  height: 40px;
  border: none;
  background-color: rgb(44, 126, 82);
  box-shadow: 1px 1px 1px black;
  font-size: 15px;
  color: white;
  font-weight: 500;
}
#quantity{
  width: 60px;
  height: 30px;
}
input[type="text"]{
  width: 435px;
  height: 30px;
  background-color: rgb(238, 235, 184)
}
.orderlist{
  font-size: 12px;
  margin: 5px 10px;
}
.money{
  position: absolute;
  margin-top: 440px;
  margin-left: 180px;
}
